@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

:root {
    --black: #212529;
    --white: #FFF;
    --light: #F8F9FA;
    --blue: #0D6EFD;
    --blue-hover: #0B60DD;
    --blue-active: #0A3E8B;
    --link-active: #6C757D;
    --hover: #E2E2E2;
    --active: #C4C4C4;
    --active-main: #2A2E33;
    --active-active: #373B3E;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.active {
    background-color: var(--hover) !important;
}

.active-main {
    background-color: var(--active-main) !important;
    color: var(--white) !important;
}

.header-top {
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 50px;
    padding: 5px 10px;
}

.icon-link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.icon-link-btn:hover {
    background-color: var(--hover);
}

.icon-link-btn:active {
    background-color: var(--active);
}

.icon-link-btn svg {
    vertical-align: middle;
    width: 20px;
    height: auto;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    color: var(--secondary);
    height: 80px;
    padding: 5px 10px;
    font-size: 16px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.home-link {
    color: var(--white);
    text-decoration: none;
}

.header-main-nav {
    display: none;
}

.nav-link {
    display: grid;
    grid-template-columns: 25px 1fr;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    color: var(--link-active);
    font-size: 14px;
    padding: 15px 10px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-link:hover {
    background-color: var(--active-main);
}

.nav-link:active {
    background-color: var(--active-active);
}

.nav-link svg {
    justify-self: center;
}

.main-cta {
    background-color: var(--blue);
    color: var(--white);
    width: 162px;
    border-radius: 5px;
    text-align: center;
    padding: 13px 0;
    cursor: pointer;
    transition: 0.2s;
}

.main-cta:hover {
    background-color: var(--blue-hover);
}

.main-cta:active {
    background-color: var(--blue-active);
}

.mobile-nav-burger {
    background-color: var(--black);
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.2s;
    cursor: pointer;
}

.mobile-nav-burger:active {
    background-color: var(--link-active);
}

.mobile-nav-burger > div {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 6px 0;
    border-radius: 5px;
}

.mobile-nav-background {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.mobile-nav {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--white);
    font-size: 16px;
    max-width: 292px;
}

.mobile-top {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding: 5px 10px;
}

.mobile-link {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 15px;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.mobile-link svg {
    justify-self: center;
}

.mobile-link:hover {
    background-color: var(--hover);
}

.mobile-link:active {
    background-color: var(--active);
}

.mobile-nav-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    padding: 10px;
}

@media only screen and (min-width: 850px) {
    .mobile-nav-burger {
        display: none;
    }

    .header-main-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        gap: 5px;
    }

    .main-cta {
        width: 219px;
    }
}