@page "/"
@layout LayoutComponent

@using PortfolioUI.Components

<main>
    <div class="component-container">
        <HeroComponent />
        <SkillsComponent />
        <ProjectsComponent />
    </div>
</main>
<ModalComponent />