@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

:root {
    --main-black: #212529;
    --white: #FFF;
    --off-white: #F8F9FA;

    --blue: #0D6EFD;
    --blue-hover: #0B60DD;
    --blue-active: #0A3E8B;

    --light-grey: #E2E2E2;
    --grey: #6C757D;

    --active-light: #C4C4C4;
    --active-dark: #2A2E33;
    --active-active-dark: #373B3E;

    --danger: #dc3545;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.header-top-container {
    background-color: var(--off-white);
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 5px 10px;
    max-width: 1500px;
    margin: 0 auto;
}

.icon-link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.icon-link-btn:hover {
    background-color: var(--light-grey);
}

.icon-link-btn:active {
    background-color: var(--active-light);
}

.icon-link-btn svg {
    vertical-align: middle;
    width: 20px;
    height: auto;
    color: var(--main-black);
}

.github svg, .youtube svg, .linkedin svg {
    transition: 0.2s;
}

.github:hover svg {
    fill: #4e277b;
}

.youtube:hover svg {
    fill: rgba(255, 0, 0);
}

.linkedin:hover svg {
    fill: #2977c9;
}

.header-main-container {
    background-color: var(--main-black);
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary);
    height: 80px;
    padding: 5px 10px;
    font-size: 16px;
    max-width: 1500px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.mobile-nav-burger {
    background-color: var(--main-black);
    border-radius: 5px;
    padding: 8px 10px;
    transition: 0.2s;
    cursor: pointer;
}

.mobile-nav-burger:hover {
    background-color: var(--active-dark);
}

.mobile-nav-burger:active {
    background-color: var(--active-active-dark);
}

.main-link {
    background-color: var(--main-black);
    color: var(--white);
    width: 125px;
    border-radius: 5px;
    text-align: center;
    padding: 13px 0;
    cursor: pointer;
    transition: 0.2s;
}

.main-link:hover {
    background-color: var(--active-dark);
}

.main-link:active {
    background-color: var(--active-active-dark);
}

.header-cta {
    display: none;
    gap: 10px;
}

.main-cta {
    background-color: var(--blue);
    color: var(--white);
    width: 162px;
    border-radius: 5px;
    text-align: center;
    padding: 13px 0;
    cursor: pointer;
    transition: 0.2s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.main-cta-resume {
    display: flex;
    width: 219px;
    border-radius: 5px;
    text-align: center;
    padding: 13px 0;
    cursor: pointer;
    transition: 0.2s;
    justify-content: space-evenly;
    border: none;
    outline: none;
    height: 100%;
    font-size: 16px;
    align-items: center;
    font-family: inherit;
}

.caret-down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-cta {
    background-color: var(--main-black);
    color: var(--white);
}

.main-cta:hover {
    background-color: var(--blue-hover);
}

.secondary-cta:hover {
    background-color: var(--active-dark);
}

.main-cta:active {
    background-color: var(--blue-active);
}

.secondary-cta:active {
    background-color: var(--active-active-dark);
}

.secondary-cta:focus {
    background-color: var(--active-active-dark);
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 300px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 20px;
    padding: 5px;
}
  
.dropdown-content a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    gap: 20px;
    padding: 15px;
    font-size: 14px;
    text-align: left;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: var(--light-grey);
}

.dropdown-content a:active {
    background-color: var(--active-light);
}

.dropdown-content svg {
    align-self: center;
}

.show {
    display: block;
}

.rotate {
    transform: rotate(180deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.mobile-nav-burger > div {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 6px 0;
    border-radius: 5px;
}

.mobile-nav-background {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.mobile-nav {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--white);
    font-size: 16px;
    max-width: 292px;
}

.mobile-top {
    background-color: var(--main-black);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 5px 10px;
}

.mobile-links {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
    align-items: center;
}

.mobile-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--white);
    color: var(--main-black);
    padding: 13px 20px;
    border-radius: 5px;
    transition: 0.2s;
}

.mobile-link svg {
    justify-self: center;
}

.primary-link {
    background-color: var(--blue);
    color: var(--white);
}

.primary-link:hover {
    background-color: var(--blue-hover);
}

.primary-link:active {
    background-color: var(--blue-active);
}

.secondary-link {
    background-color: var(--off-white);
    color: var(--main-black);
}

.secondary-link:hover {
    background-color: var(--light-grey);
}

.secondary-link:active {
    background-color: var(--active-light);
}

main {
    background-color: var(--off-white);
}

.component-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 30px;
    padding: 20px 10px;
    font-size: 12px;
    max-width: 792px;
    margin: 0 auto;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 20px 30px;
    background-color: var(--white);
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
}

.hero-container h2 {
    font-weight: bold;
}

.hero-container img {
    display: none;
}

.left-col {
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.left-col a {
    justify-self: center;
    margin-top: 10px;
}

table {
    margin-top: 20px;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-spacing: 0;
    width: 100%;
    text-align: left;
    cursor: default;
    border-radius: 5px;
}

th {
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid var(--light-grey);
    background-color: var(--off-white);
}

td {
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px solid var(--light-grey);
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: var(--off-white);
}

th:last-child, td:last-child {
    display: none;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    margin-top: 20px;
}

.project-wrapper {
    position: relative;
    width: 100%;
    max-width: 395px;
    margin: 0 auto;
}

.project {
    display: block;
    height: 475px;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
}

#elanco {
    background-color: var(--white);
    /* background-image: url("images/main_desktop.png"); */    
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

#notes {
    background-color: var(--white);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
}

#timco {
    background-color: var(--white);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
}

.project-banner {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid var(--light-grey);
    border-radius: 5px 5px 0 0;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.overlay {
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.project-wrapper:hover .overlay {
    height: 100%;
    opacity: 1;
}

.text {
    color: var(--main-black);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.project-header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.project-links {
    display: flex;
}

.project-details {
    padding: 10px 30px 0 30px;
}

.project-details ul {
    padding: 10px 0 0 10px;
}

.project-details ul li {
    padding: 5px 0;
}

.project-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.main-cta-info {
    width: 162px;
    border-radius: 5px;
    text-align: center;
    padding: 13px 0;
    cursor: default;
    transition: 0.2s;
}

.project-work-in-progress {
    background-color: var(--white);
    color: #ffc107;
    border: 1px solid #ffc107;
}

.project-work-in-progress:hover {
    background-color: #ffc107;
    color: black;
}

.project-work-in-progress:active {
    background-color: #fdd65f;
}

.project-complete {
    background-color: var(--white);
    color: #198754;
    border: 1px solid #198754;
}

.project-complete:hover {
    background-color: #198754;
    color: var(--white);
}

.project-complete:active {
    background-color: #146b43;
}

.modal {
    display: none;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.modal-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto 1fr;
    padding: 30px;
    width: 95%;
    max-width: 450px;
    margin: auto;
    height: 500px;
    max-height: 650px;
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--light-grey);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form-field label {
    font-size: 14px;
    margin-bottom: 5px;
}

.form-field input {
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid var(--light-grey);
    background-color: var(--off-white);
    font-size: 16px;
    transition: 0.2s;
    outline: none;
}

.modal-form > .form-field {
    margin-top: 0;
}

.form-field textarea {
    resize: none;
    height: auto;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    background-color: var(--off-white);
    font-size: 16px;
    padding: 10px 20px;
    height: 100%;
    font-family: inherit;
    transition: 0.2s;
    outline: none;
}

.form-field input:focus, textarea:focus {
    -webkit-box-shadow: 0 0 0 4px var(--active-light);
    -moz-box-shadow: 0 0 0 4px var(--active-light);
    box-shadow: 0 0 0 4px var(--active-light);
}

.modal-send {
    display: flex;
    justify-items: center;
    align-content: center;
}

.modal-send button {
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    font-size: 16px;
    align-items: center;
    font-family: inherit;
}

.modal-send button:focus {
    -webkit-box-shadow: 0 0 0 4px var(--active-light);
    -moz-box-shadow: 0 0 0 4px var(--active-light);
    box-shadow: 0 0 0 4px #76aaf8;
}

.validation-message {
    color: var(--danger);
    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    .mobile-nav-burger {
        display: none;
    }

    .header-cta {
        display: flex;
    }

    .main-cta {
        width: 219px;
    }

    .component-container {
        font-size: 14px;
    }

    .hero-container {
        grid-template-columns: 1fr 1fr;
    }

    .hero-container h3 {
        font-size: 16px;
    }

    .left-col {
        text-align: left;
    }

    .left-col a {
        justify-self: unset;
    }

    .right-col img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
    }

    td {
        font-size: 14px;
    }

    th:last-child, td:last-child {
        display: block;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
    }

    .project-header {
        font-size: 16px;
    }

    .project-details ul {
        padding: 20px 0 0 10px;
    }

    .project-details ul li {
        padding: 2px;
    }
}