<div class="hero-container">
    <div class="left-col">
        <p>HI THERE, I'M</p>
        <h2>Harry Buxton</h2>
        <p>I am a .NET developer. Here, you will find my skills and project’s I’ve developed.</p>
        <a target="_blank" href="files/HarryBuxtonCV.pdf" class="main-cta">My Resume</a>
    </div>
    <div class="right-col">
        <img src="images/logo.png" width="180" height="180" alt="GitHub profile picture"/>
    </div>
</div>