<div class="skills-container">
    <h2>Skills</h2>
    <p>I love backend development. My skills in C# and SQL are comprehensive, while also having an in-depth understanding of front-end technologies.</p>
    <table>
        <tr>
            <th>Languages</th>
            <th>Technologies</th>
            <th>Tools</th>
        </tr>
        <tr>
            <td>C#</td>
            <td>ASP.NET</td>
            <td>Visual Studio</td>
        </tr>
        <tr>
            <td>HTML5 & CSS3</td>
            <td>Azure</td>
            <td>Visual Studio Code</td>
        </tr>
        <tr>
            <td>SQL</td>
            <td>Git</td>
            <td>SSDT</td>
        </tr>
    </table>
</div>